[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
daphne = "*"
websockets = "*"
djangorestframework-simplejwt = "*"
orjson = "*"
psutil = "*"
django-cryptography = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
