{% load filters %}
{% with new_element_id=element.id|append_uuid %}

<div class="card">
    <div class="card-header">
        <span>{{ element.details.title|default:"Gauge Title" }}</span>
        
        <div class="status-indicator-group"> 
            <span class="status-indicator" id="{{ new_element_id }}-connection-status" title="Device Connection Status">
                <i class="fas fa-plug"></i>
                <span class="status-text">Offline</span>
            </span>
            <span class="status-indicator" id="{{ new_element_id }}-subscription-status" title="Data Subscription Status">
                <i class="far fa-bell-slash"></i>
                <span class="status-text">Unsubscribed</span>
            </span>
            <span class="status-indicator" id="{{ new_element_id }}-permissions-status" title="Your Permissions">
                <i class="fas fa-key"></i>
                <span class="status-text">None</span>
            </span>
        
            <span class="status-indicator" id="{{ new_element_id }}-last-edit-at" title="last edit at">
                <i class="fas fa-clock"></i>
                <span class="status-text">None</span>
            </span>
            <span class="status-indicator" id="{{ new_element_id }}-last-edit-by" title="last edit by">
                 <i class="fas fa-pencil-alt"></i>
                <span class="status-text">None</span>
            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="gauge-container d-flex justify-content-center">
            <canvas id="{{ new_element_id }}"></canvas>
        </div>
        <p class="text-center mt-3">
            Current Value: <span id="{{ new_element_id }}-value">0</span> {{ element.details.units|default:"Value" }}
        </p>
    </div>
</div>
{% with new_id=new_element_id|add:"-details-data" %}
    {{ element.details|json_script:new_id }}
{% endwith %}
<script>
    (function() {
        if (typeof window.Elements === 'undefined') {
            window.Elements = {};
        }
        if (!window.Elements["{{ element.id }}"]) {
            window.Elements["{{ element.id }}"] = [];
        }

        const detailsDataElement = document.getElementById("{{ new_element_id|add:'-details-data' }}");
        let detailsObject = {};
        
        if (detailsDataElement) {
            detailsObject = JSON.parse(detailsDataElement.textContent);
        }

        const newGaugeInstance = new SensorGauge(
            "{{ new_element_id }}",
            detailsObject
        );
        window.Elements["{{ element.id }}"].push(newGaugeInstance);
    })();
</script>


{% endwith %}